<header class="govuk-header" data-module="govuk-header" role="banner">
  <div class="govuk-header__container govuk-width-container">
    <a class="govuk-header__link govuk-header__link--service-name" href="/">Digital Land</a> <button aria-controls="navigation" aria-label="Show or hide Top Level Navigation" class="govuk-header__menu-button govuk-js-header-toggle" type="button">Menu</button>
    <nav>
      <!-- TODO: Add "govuk-header__navigation-item==active" class -->
      <ul aria-label="Top Level Navigation" class="govuk-header__navigation" id="navigation">
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="/about">Team</a>
        </li>
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="/project">Projects</a>
        </li>
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="/blog-post">Blog</a>
        </li>
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="/guidance">Guidance</a>
        </li>
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="/dataset">Datasets</a>
        </li>
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="/organisation">Organisations</a>
        </li>
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="/map">Map</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
